<div class="row dashboard" [ngClass]="{'h-100': loading}">
  <div class="col-12" *ngIf="currentUser">
      <div class="col-12">
        <div ngbDropdown class="d-inline-block pull-left">
          <button class="btn btn-outline-primary" id="dropDownUsers" ngbDropdownToggle>{{currentUser.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropDownUsers">
            <button *ngFor="let user of users;" ngFor class="dropdown-item" (click)="changeUser(user);">{{user.name}}</button>
          </div>
          <button type="button" class="btn btn-primary" (click)="loadTasksForAllWorkspaces();">Reload</button>
        </div>

      </div>
  </div>
  <div class="row justify-content-center align-items-center col-12 h-100 loading-bar" *ngIf="loading">
    <div class="col-md-auto">
        <div class="loader" ></div>
        <span>{{infoMessage}}</span>
    </div>
  </div>
  <div *ngIf="!loading" class="col-12">
    <div class="form-check pull-left">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="showEmptyWorkspaces" (change)="showEmptyWorkspaces = !showEmptyWorkspaces" />
      <label class="form-check-label" for="exampleCheck1">Show workspaces with no tasks</label>
    </div>
    <div class="row col-12" >
      <div *ngFor="let workspace of workspaces;" class="col col-12 col-md-4 col-lg-3 workspace" [hidden]="!isWorkspaceVisible(workspace)">
        <h4>
          <a href="https://app.asana.com/0/{{workspace.id}}/list" target="_blank">
            {{ workspace.name }} ({{workspace.tasks.length}})
          </a>
        </h4>
        <div *ngIf="workspace.notMember" class="alert alert-warning">
          Not a member
        </div>
        <div *ngFor="let task of workspace.tasks;" class="task">
          <div>
              <a href="https://app.asana.com/0/{{workspace.id}}/{{task.id}}" target="_blank">
                {{ task.name }}
              </a>
              <i class="fa fa-check-circle-o close pull-right" (click)="closeTask(workspace, task);"></i>
          </div>
          <div>
            <span *ngIf="task.due_on" class="due {{task.dueClass}}">
              <i class="fa fa-calendar"></i>
              {{task.due | date: 'shortDate'}}
            </span>
            <span *ngIf="task.due_at" class="due time {{task.dueClass}}">
                <i class="fa fa-clock-o"></i>
                {{task.due | date: 'shortTime'}}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
