
@import "src/styles";
.dashboard
{
  background-color: $background-color;
  padding: 20px;

  $font-color-asna: #060930;

  .workspace{
    @extend .rounded;
    text-align: left;
    min-width: 33.3%;
    border: 1px solid black;
    padding: 10px;

    h4 {
      font-size: $font-size-h6;
      font-weight: bold;

      a {
        color: $font-color-asna;
      }
    }

    .task {
      @extend .rounded;
      @extend .box-shadow;
      margin-right: 10px;
      padding: 5px;
      font-size: $font-size-small;
      margin: 5px;
      background-color: white;

      color: $font-color-asna;
      font-weight: bold;
      a {
        color: $font-color-asna;
      }

      .close {
        font-size: 25px;
        &:hover{
          color: #0ba82d;
        }
      }

      .due {
        @extend .rounded;
        @extend .box-shadow;
        padding: 3px;
        display: inline-block;
        font-size: smaller;

        &.upcomming {
          color: #0ba82d;
        }

        &.overdue {
          color: #bd2130;
        }

        &.close-to-overdue {
          color: #e2750e;
        }
      }
    }

    .project{
      font-size: small;
      margin-right: 10px;
    }
  }
}


